<div class="patient-list">
  <% @patients.each do |patient| %>
  <div class="patient-box">
    <h3><%= link_to patient.full_name, patient_path(patient) %></h3>
    <p><%= patient.run %></p>
  </div>
  <% end %>
</div>
