// Place all the styles related to the vaccinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vaccinations {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.vaccination-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.vaccination-box {
  background-color: #737373;
  color: white;
  padding: 10px;
  border: solid 1px;
  width: 150px;
  margin: 2px;
}